*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
<<<<<<< Updated upstream
	background: rgb(38, 36, 36);
	box-sizing: border-box;
	font-size: 62.5%;
}
#box {
	background: rgb(38, 36, 36);
	margin: 40px 0;
	width: 100%;
	display: flex;
	justify-content: center;
}
#title{
	color: rgb(220, 20, 103);
	margin: 50px;
	text-align: center;
=======
    background: rgb(38, 36, 36);
    box-sizing: border-box;
    font-size: 62.5%;
}
#box {
    background: rgb(38, 36, 36);
    margin: 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
#title{
    color: rgb(220, 20, 103);
    margin: 50px;
    text-align: center;
}
#coord-graph{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    text-align: center;
>>>>>>> Stashed changes
}
#coord-graph{
	color: rgb(255, 255, 255);
	font-size: 4rem;
	text-align: center;
}


.navbar{
    padding: 3rem 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
}

.button{
    padding: 0 3rem;
    color: white;
    font-size: 3rem;
    text-decoration: none;
    margin-top: 2rem;
    width: 2rem;
    height: 3rem;
    border: none;
    background-color: rgb(38, 36, 36);
    border-radius: .5rem;
    box-shadow: inset 0 0 0 0 rgb(220, 20, 103);
    transition: ease-out 0.3s;
    outline: none;
    margin: 0 3rem;
}

.button:hover{
    box-shadow: inset 2rem 0 0 0 rgb(220, 20, 103);
    cursor: pointer;
}
/* vim: set tabstop=2:softtabstop=2:shiftwidth=2:noexpandtab */
